@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject NavigationManager Navigation

<link rel="manifest" href="/manifest.json">

<CascadingAuthenticationState>
    <div class="flex flex-col min-h-screen">
        @if (!IsHomePage && !IsAdminBackOffice)
        {
            <div class="flex flex-grow h-screen bg-gray-900 ">
                <Sidebar />
                <main class="flex-1 flex items-center justify-center">
                    <article class="w-full">
                        @Body
                    </article>
                </main>
            </div>
        }
        else if (IsAdminBackOffice)
        {
            <div class="flex flex-grow h-screen">
                <BackOfficeSideBar />
                <div class="w-px bg-gray-700 h-full"></div>
                <main class="flex-1 flex items-center justify-center">
                    <article class="w-full">
                        @Body
                    </article>
                </main>
            </div>
        }
        else
        {
            <main class="flex items-center justify-center flex-grow">
                <article class="w-full">
                    @Body
                </article>
            </main>
        }
    </div>
</CascadingAuthenticationState>

<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener("load", () => {
            navigator.serviceWorker.register("/ServiceWorker.js");
        });
    }
</script>

@code {
    private bool IsHomePage => Navigation.Uri.EndsWith("/") || Navigation.Uri.Contains("/login") || Navigation.Uri.Contains("/register") || Navigation.Uri.Contains("/reset-password") || Navigation.Uri.Contains("/verify-email");
    private bool IsAdminBackOffice => Navigation.Uri.Contains("dashboard");
}
